body {
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 16px;
}

header {
  padding-top: 30px;
  background-color: rgb(112, 112, 226);
  border-bottom: 1px solid #ccc;
  text-align: center;
  color: #fff;
}

main {
  border-bottom: 1px solid #ccc;
}

h1{
  font-size: 50px;
}

h2{
  font-size:16px;
  margin-left: 850px;
  background:  #3b4066;
  border: none;
  color: white;
  font-size:16px;
  font-weight:bold;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  box-shadow: 0 7px #0f0445;
  border-radius: 6px;
  width: 100px;
}

p {
  font-size: 100%;
  text-align: center;
  border-bottom: 1px solid #fff;

  height: 100px;
}

ul {
  padding: 0;
  border-top: 1px solid #000000;
  display: table;
  /* 定義 */
  table-layout: fixed;
  width: 100%;
}

li {
  text-align: center;
  list-style-type: none;
  border: 1px solid #666;
  background-color: #FFF;
  display: table-cell;
  /* 定義 */
  cursor: pointer;
}

li:hover {
  background: #0066CC;
  color: #fff;
}
textarea{
  margin: 3%;
  width: 30%;
  height: 30px;
  font-size:50%;
  box-shadow: 3px 3px 3px 3px #555;
}

